//ESTILOS PARA LOS MAINS

main{
    grid-area: main;
    background-color: $color-third;
    font-family: $font-style-brand, sans-serif;
    font-weight: 100;
    span{
        font-weight: bold;
    }
}

